.border{
  border-top: 1px solid #fff;
  opacity: 50%;
  margin: 30px 0px 30px 0px;
}

.file{
  display: grid;
  grid-template-rows: 50px 50px;
}

.file1{
  text-align: left;
}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsla(0, 0%, 89%, 0.651);
  z-index: -1;
  border-radius: 10px;
  transition: transform .2s ease;
}

h1 {
  position: relative;
}